*{
    font-family:monospace;
    color: red;
    flex-wrap: wrap;
    text-decoration: none;
    
   
}
.card {
    width: 300px;
    height: 220px;
    border: 1px transparent;
    display:grid;
    padding-top:5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
 .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box1
{
 width: 300px;
 height: 200px;
 background-size: 100%;
 background-repeat: no-repeat;
 cursor: pointer;
 
}
.box1
{
    background-image: url(/img/parabellum.jpg);
    background-position: center;
}

 /* หมุนๆ */
 .flip-box {
    background-color: transparent;
    width: 300px;
    height: 250px;
    border: 1px solid rgb(139, 137, 137);
    perspective: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 5px;
    padding-top: 10px;
    display:inline-block;
    
  }
.flip-box:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(-180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: transparent;
    text-align: center;
  } 
  .flip-box-back 
  {
    background-color:transparent;
    transform: rotateY(-180deg);
  }
 /* หมุนๆ */

